<div>
  <div class="home-container">
    <div class="top-menu" fxLayoutAlign="space-around center">
      <div class="title" (click)="homeNavigate()"><span>Reservê</span></div>
      <div> 
        <input type="text" [(ngModel)]="searchText" class="search-input">
        <mat-icon class="search-bar" (click)="searchNavigate()">search</mat-icon>
      </div>
      <div class="login-margin" fxLayoutGap="74px"  fxLayout="row">
        <span *ngIf="usuario" class="impact-text" fxLayoutAlign="center center center">
          <mat-icon class="material-icons">person</mat-icon><span>{{ usuario }}</span></span>
        <button *ngIf="!usuario" class="impact-text" mat-button (click)="openLoginDialog()">Login</button>
        <button class="impact-text" mat-button (click)="openCadastroDialog()">{{ usuario ? 'Logout' : 'Cadastre-se' }}</button>
      </div>
    </div>
    <div class="container" #container>
      <mat-icon
        class="left"
        *ngIf="totalPages > 1"
        (click)="currentPage != 1 && changePage(-1)"
        [ngClass]="{ disabled: currentPage === 1 }"
        >arrow_back_ios</mat-icon
      >
      <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
        <div
          class="overflow"
          [ngStyle]="{ width: overflowWidth, left: pagePosition }"
        >
          <img
            *ngFor="let i of sliderArray; let index = index"
            class="card"
            [ngStyle]="{ width: cardWidth }"
            [src]="i.path"
            (click)="sliderNavigate(i.tipo)"
          />
        </div>
      </div>
      <mat-icon
        class="right"
        *ngIf="totalPages > 1"
        (click)="currentPage != totalPages && changePage(+1)"
        [ngClass]="{ disabled: currentPage === totalPages }"
        >arrow_forward_ios</mat-icon
      >
    </div>
    <div class="map-card" fxLayoutAlign="space-around center">
      <span class="map-info" fxLayout="column" fxLayoutAlign="space-around center">
        <span fxLayoutAlign="center center center" fxLayout="row">
          <span class="map-title">Na sua cidade</span>
          <span fxLayoutAlign="center center center" fxLayout="row">
            <span class="material-icons place-icon">place</span>
            <span class="poppins-font map-city">Belo Horizonte</span>
            <span class="material-icons expand-icon">expand_more</span>
          </span>
        </span>
        <img [src]="mapa" width="700" height="400"/>
      </span>
    </div>
    <div class="options-card-title">Perto de Você:</div>
    <div class="options-card" fxLayoutGap="30px">
      <span class="imgTitle" *ngFor="let i of optionsArr; let index = index" (click)="showReserva(i.id)">
        <img class="option-card" [src]="i.path" />
        <span class="imageTitle">{{ i.title }}</span>
      </span>
    </div>
    <div class="options-card" fxLayoutGap="30px">
      <span class="imgTitle" *ngFor="let i of optionsArr2; let index = index">
        <img class="option-card" [src]="i.path" />
        <span class="imageTitle">{{ i.title }}</span>
      </span>
    </div>

    <div class="footer" fxLayout="row">
      <div class="footer-logo">Reservê</div>
      <div class="footers-divs" fxLayout="row">
        <div class="footer-div" fxLayout="column">
          <span class="footer-div-title">Início</span>
          <span>Home</span>
          <span>Quadras</span>
        </div>
        <div class="footer-div" fxLayout="column">
          <span class="footer-div-title">Sobre nós</span>
          <span>+Informações</span>
          <span>Contato</span>
          <span>GitHub</span>
        </div>
        <div class="footer-div" fxLayout="column">
          <span class="footer-div-title">Desenvolvedores</span>
          <span>Marcela</span>
          <span>Bruno</span>
        </div>
      </div>
    </div>
  </div>
</div>
