<div>
  <div class="home-container">
    <div class="top-menu">
      <div class="title"><span>Reservê</span></div>
      <div class="login-margin" fxLayoutGap="74px">
        <button class="impact-text" mat-button (click)="openLoginDialog()">Login</button>
        <button class="impact-text" mat-button (click)="openCadastroDialog()">Cadastre-se</button>
      </div>
    </div>
    <div class="container" #container>
      <mat-icon
        class="left"
        *ngIf="totalPages > 1"
        (click)="currentPage != 1 && changePage(-1)"
        [ngClass]="{ disabled: currentPage === 1 }"
        >arrow_back_ios</mat-icon
      >
      <div class="cards" [ngClass]="{ 'w-100': totalPages === 1 }">
        <div
          class="overflow"
          [ngStyle]="{ width: overflowWidth, left: pagePosition }"
        >
          <img
            *ngFor="let i of arr; let index = index"
            class="card"
            [ngStyle]="{ width: cardWidth }"
            [src]="i"
          />
        </div>
      </div>
      <mat-icon
        class="right"
        *ngIf="totalPages > 1"
        (click)="currentPage != totalPages && changePage(+1)"
        [ngClass]="{ disabled: currentPage === totalPages }"
        >arrow_forward_ios</mat-icon
      >
    </div>
    <div class="map-card"></div>
    <div class="options-card-title">Perto de Você:</div>
    <div class="options-card" fxLayoutGap="30px">
      <span class="imgTitle" *ngFor="let i of optionsArr; let index = index">
        <img class="option-card" [src]="i.path" />
        <span class="imageTitle">{{ i.title }}</span>
      </span>
    </div>
    <div class="options-card" fxLayoutGap="30px">
      <span class="imgTitle" *ngFor="let i of optionsArr2; let index = index">
        <img class="option-card" [src]="i.path" />
        <span class="imageTitle">{{ i.title }}</span>
      </span>
    </div>

    <div class="footer"></div>
  </div>
</div>
