<div>
    <div class="home-container">
        <div class="top-menu" fxLayoutAlign="space-around center">
            <div class="title" (click)="homeNavigate()"><span>Reservê</span></div>
            <div> 
              <input type="text" [(ngModel)]="searchText" class="search-input">
              <mat-icon class="search-bar" (click)="searchNavigate()">search</mat-icon>
            </div>
            <div class="login-margin" fxLayoutGap="74px"  fxLayout="row">
              <span *ngIf="usuario" class="impact-text" fxLayoutAlign="center center center">
                <mat-icon class="material-icons">person</mat-icon><span>{{ usuario }}</span></span>
              <button *ngIf="!usuario" class="impact-text" mat-button (click)="openLoginDialog()">Login</button>
              <button class="impact-text" mat-button (click)="openCadastroDialog()">{{ usuario ? 'Logout' : 'Cadastre-se' }}</button>
            </div>
          </div>
          <div fxLayout="row" class="div-info">
            <div class="div-left" fxLayout="column">
              <div class="filterCard" fxLayout="column">
                <div class="items poppins-font" fxLayout="column" fxLayoutGap="20px">
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <select matNativeControl>
                            <option value="mg">Minas Gerais</option>
                            <option value="sp">São Paulo</option>
                            <option value="es">Espírito Santo</option>
                            <option value="rj">Rio de Janeiro</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Cidade</mat-label>
                        <select matNativeControl>
                            <option value="bh">Belo Horizonte</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Tipo de Quadra</mat-label>
                        <select matNativeControl>
                            <option value="1">Futsal</option>
                            <option value="2">Poliesportiva</option>
                            <option value="3">Futebol</option>
                            <option value="4">Vôlei</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Preço Mínimo</mat-label>
                        <input type="number" matInput placeholder="0" value="0">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Preço Máximo</mat-label>
                        <input type="number" matInput placeholder="1000" value="1000">
                    </mat-form-field>
                </div>
              </div>
            </div>
            <div class="div-right">
              <div fxLayout="column">
                <div class="info-card-title poppins-font"> Você pesquisou por: {{ currentSearchText }} </div>
                <br/>
                <div class="quadras-padding" *ngFor="let quadra of quadras; let index = index" fxLayout="row">
                    <img class="img-card" [src]="quadra.imgPrincipal" width="350" height="237"/>
                    <div class="info-card" fxLayout="column">
                        <span class="info-card-title poppins-font">{{ title[index] }}</span>
                        <span>{{ quadra.endereco }}</span>
                        <br/>
                        <span class="desc">{{ quadra.descricao }}</span>
                        <span class="preco poppins-font">R${{ quadra.precoHora }} por hora</span>
                        <button mat-raised-button class="moreInfo" (click)="showReserva(quadra.id)">+Informações</button>
                    </div>
                </div>
                <div *ngIf="!quadras.length" class="info-card-title poppins-font"> -> Não foram encontradas quadras para esta pesquisa. </div>
              </div>
            </div>
          </div>
          <div class="footer" fxLayout="row">
            <div class="footer-logo">Reservê</div>
            <div class="footers-divs" fxLayout="row">
              <div class="footer-div" fxLayout="column">
                <span class="footer-div-title">Início</span>
                <span>Home</span>
                <span>Quadras</span>
              </div>
              <div class="footer-div" fxLayout="column">
                <span class="footer-div-title">Sobre nós</span>
                <span>+Informações</span>
                <span>Contato</span>
                <span>GitHub</span>
              </div>
              <div class="footer-div" fxLayout="column">
                <span class="footer-div-title">Desenvolvedores</span>
                <span>Marcela</span>
                <span>Bruno</span>
              </div>
            </div>
          </div>
    </div>
</div>
